<ion-view view-title="Info">
  <ion-content>
    <div ng-if="!details">
      Bad request
    </div>
    <div class="card" ng-if="details">
      <div class="item item-divider">
        {{details.name}}
      </div>
      <div class="item item-text-wrap">
        <span>Производитель: {{details.origin}}</span>
        <span>Страна: {{details.country}}</span>
        <span>Группа: {{details.group}}</span>
      </div>
      <div class="item item-divider">
        Цена от {{details.min_price_our}}.грн до{{details.max_price_our}}.грн
      </div>
    </div>
  </ion-content>
</ion-view>
